$fontStack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSize: 17px;

body {
  font-family: $fontStack;
  line-height: 2.2em;
}

a {
  &:hover {
    text-decoration: none;
  }
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

input[type="text"] {
  border-right: none;

  &:focus {
    box-shadow: none;
  }
}
 

ul {
  padding: 0;

  li {
    list-style-type: none;
    text-align: center;
  }
}

#links {
  font-size: $fontSize;
  margin-top: 30px;
}

#top.row > div {
  padding-bottom: 10px;
  padding-top: 15px;
}

#date {
  font-size: $fontSize;
}
